body {
  background-color: #fff9f5;
  font-family: "Segoe UI", sans-serif;
}
h3 {
  color: #451313;
}

.bg-pink {
  background-color: #ffcdb2;
}

/* Untuk link nav biasa */
.nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid black;
}

/* Untuk ikon profil dan cart */
.active-icon {
  color: #000; /* warna tebal */
  border-bottom: 2px solid black;
  padding-bottom: 2px;
}


.product-scroll {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 16px;
  padding-bottom: 8px;
  scrollbar-width: none;
}

.product-scroll .product-card {
  min-width: 400px;
  max-width: 500px;
  border: 1px solid #eee;
  border-radius: 16px;
  flex-shrink: 0;
  background-color: #fff;
  padding: 1rem;
}

.btn-cart {
  background-color: #f4c2c2;
  color: #4a1d1f;
  font-size: 0.8rem;
}

/* Produc cart */
.product-card.deskripsi-produk {
  min-width: 650px;
  border-radius: 20px;
  border: 1px solid #f2bfbf;
  background: #fffaf5;
}
.img-deskripsi {
  width: 150px;
  height: 200px;
  object-fit: cover;
  border-radius: 16px;
}

/* preview before */
.product-preview {
  width: 240px;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid #f2bfbf;
  background: #fffaf5;
  padding: 16px;
  text-align: center;
}
.product-img-preview {
  width: 150px;
  height: 200px;
  object-fit: cover;
  border-radius: 16px;
  display: block;
  margin: 0 auto 12px auto;
}
.desc-preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.cart-button-preview {
  background-color: #ffa903;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

/* Home.html */
.carousel-control-prev,
.carousel-control-next {
  width: 5% !important;
}

.hero-section {
  background: linear-gradient(to right, #f8cdda, #f1a7f1);
  padding: 4rem 0;
}

.hero-section img {
  max-width: 100%;
  border-radius: 8px;
}
#img center {
  justify-content: center;
}
.section-title {
  font-weight: 700;
  color: #4a1d1f;
}

.info-section {
  padding: 3rem 0;
}

.testimonial {
  padding: 3rem;
  border-left: 5px;
  font-style: italic;
}

/* Footer */
.footer {
  background-color: #fbedcd;
  width: 100%;
}

.footer .social-icons i {
  color: #4a1d1f;
}

.social-icons a {
  margin: 0 10px;
  color: #4a1d1f;
  text-decoration: none;
}
